<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= app.name %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="rampage"></div>
    <h2>Status Code</h2>
    <p> <%= response.statusCode %> </p>
    <h2> Data </h2>
    <p> <%= response.data %> </p>
    <h2> Polls </h2>
    <p> <%= polls %> </p>
    <br />
    <h2> Response </h2>
    <p> <%= response %> </p>
  </body>
</html>

